.junk-yard-div> .card-columns{
    padding-left: 5em;
    padding-right: 5em;
}
.junk-card-deck > .card{
    font-family: Karla,sans-serif;
}
.junkyard-card{
    box-shadow: 0 3px 15px 0 rgba(0,0,0,.25);
}
.card-title{
    font-weight: bold;
    color: #434C5F;
    font-family: Karla,sans-serif;
}
.card-text{
    color: #687b8e;
    font-family: Montserrat, sans-serif;
}
.exchange-btn{
    text-decoration: none;
    background-color: white;
    color: #2690ec;
    border: 2px solid #2690ec;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    transition: all .2s ease;
}
.exchange-btn:hover{
    text-decoration: none;
    background-color: #2690ec;
    color: white;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.25);
}
.condition-span{
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-image: linear-gradient(120deg, rgb(240, 147, 251) 0%, rgb(245, 87, 108) 100%);
    background-image: linear-gradient(90deg, rgb(255, 154, 158) 0%, rgb(250, 208, 196) 100%);
    background-image: linear-gradient(120deg, rgb(132, 250, 176) 0%, rgb(143, 211, 244) 100%);
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 1em;
    padding-right: 1em;
    color: #434C5F;
    font-weight: bold;
}
.condition-div{
    margin-bottom: 1em;
}

.junk-card{
    margin-top: 2em;
    border: none;
    padding-right: 5px;
    padding-left: 0;
    padding-top: 1em;
}
.junk-img-div{
    padding: 1em;
}
.junk-data-div{
    padding-left: 0;
}
.scambio-expand{
    color: #434C5F;
    background-image: linear-gradient(120deg, rgb(132, 250, 176) 0%, rgb(143, 211, 244) 100%);
}

.myjunk-preview{
    margin-top: 2em;
}

.alert-preview {
    background-image: linear-gradient(120deg, rgb(132, 250, 176) 0%, rgb(143, 211, 244) 100%);
}

.cb-box-div{
    padding-right: 2em;
    position: fixed;
    right: 0;
    height: 100%;
    overflow: auto;
}

.preview-card{
    background-image: linear-gradient(120deg, rgb(132, 250, 176) 0%, rgb(143, 211, 244) 100%);
    font-family: Karla,sans-serif;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,.25);
}
.preview-card .card-title{
    color: black;
}
.preview-card .card-text{
    color: #434C5F;
    font-family: Montserrat, sans-serif;
}
.junk-select-div{
    padding: 1px;
    font-weight: bold;
    font-family: Montserrat,sans-serif;
}
.junk-select-div > div > div:first-child {
    border-color: #2690ec;
    border-radius: 20px;

}

.search-filter-div{
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
}
.search-bar{
    border-radius: 28px;
    padding-left: 2em;
    color: #434C5F;
    font-family: Montserrat,sans-serif;
    box-shadow: 0 3px 200px 0 rgba(0,0,0,.25);

}
.search-bar:focus{
    box-shadow: none;
    border-radius: 28px;
    padding-left: 2em;
    border: 1px solid #2690ec;
    color: #2690ec;
    font-family: Montserrat,sans-serif;

}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

.signup-toggle-div{
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: 5;
}
.signup-toggle-img{
    background-image: url("https://i.pinimg.com/564x/5a/66/9b/5a669b253a24b36cff54f3677909682a.jpg");
    background-image: url("https://i.pinimg.com/564x/fa/bc/e3/fabce34c5d9d0fc32c4805e0023b3d3c.jpg");
    background-image: url("https://i.pinimg.com/564x/b9/92/63/b992635de2403c3b79877a318ff9168d.jpg");

    filter: blur(0px);
    -webkit-filter: blur(0px);

 /* Full height */
    height: 100%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.signup-toggle-card{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
      color: white;
      font-weight: bold;
      border: 3px solid #f1f1f1;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 80%;
      padding: 20px;
      text-align: center;
}

.toggle-card-footer > a{
    width: 50px;
    text-decoration: none;
    background-color: white;
    color: #2690ec;
    border: 2px solid #2690ec;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    transition: all .2s ease;
}

.toggle-card-footer > a:hover{
    text-decoration: none;
    background-color: #2690ec;
    color: white;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.25);
}
.toggle-card-footer{
    background-color: rgba(0,0,0,.0);
    border-top: 1px solid rgba(0,0,0,0);
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* @media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
} */
