.side-swag-quotes{
    background-image: url("https://images.pexels.com/photos/555790/pexels-photo-555790.png");
    background-image: url("https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7880e3b80dd9960e65d543cd39d3540e&auto=format&fit=crop&w=1868&q=80");
}
